<h1 class="text-center m-4"><%= @article.title %> </h1>
<div class="container" >
    <div class="card" >
        <div class="card-header fst-italic text-center">
                         <%if @article.user%>
                            by 
                            <%=link_to @article.user.username ,user_path(@article.user),class:"text-black"  %>
                        <% end %>
                    </div>
      <div class="card-body">
        <p class="card-text"><%= simple_format(@article.description) %></p>
         <%= link_to 'Edit', edit_article_path(@article),class: "btn btn-outline-success" %>
                                    <%= link_to "Delete", article_path(@article), data: {
                                        turbo_method: :delete,
                                        turbo_confirm: "Are you sure?"
                                    },class: "btn btn-outline-danger"%>
        </div>
    </div>
</div>
<div class="col text-center m-4">
           <%= link_to "Return",articles_path, class: "text-secondary " %>
        </div>



